<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>روابط سريعة</h4>
                <ul class="list-FooterLinks">
                    <li><a href="#">الرئيسية</a></li>
                    <li><a href="#About">من نحن</a></li>
                    <li><a href="#Services">الخدمات</a></li>
                    <li><a href="#">اتصل بنا</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>تواصل معنا</h4>
                <p>العنوان: الفيصلية، جدة, المملكة العربية السعودية</p>
                <p>البريد الإلكتروني: <a href="mailto:info@ScoutsportAI.com">info@SportscoutAI.com</a></p>
                <p>الهاتف: +966 56181 7229</p>
            </div>

            <div class="col-md-4">
                <h4>اشترك في النشرة الإخبارية</h4>
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="البريد الإلكتروني">
                    </div>
                    <button type="submit" class="btn btn-primary">اشترك الآن</button>
                </form>
            </div>
        </div>
        <hr>
        <p><img class=NoBackground src="./img/logoP.png">&copy; 2024  | جميع الحقوق محفوظة.</p>
    </div>

</footer>