<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"><img src="./img/logoP.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Center the list -->
            <li class="nav-item">
                <a class="nav-link" href="">الرئيسية</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Services">الخدمات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#HowItWorks">كيف يعمل</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#About">من نحن</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">اتصل بنا</a>
            </li>
        </ul>
        <!-- Social Icons -->
        <ul class="navbar-nav icons-right"> <!-- Align icons to the right -->
            <li class="nav-item">
                <a class="nav-link" href="../pages/login.html"><i class="fas fa-user"></i> <%= userName %> </a>
            </li>
        </ul>
    </div>
</nav>
