@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap'); 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style: none;
    font-family: 'MyArabicFont', 'Cairo', sans-serif; 
}

body {
	background: #ffffff;
	padding: 20px;
}

.wrapper {
	background: #ffffff;
	height: calc(100vh - 40px);
	display: flex;
	flex-direction: row-reverse; 
}

.side_bar {
	width: 250px;
	height: 100%;
    border-top-right-radius: 15px;
	border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.main_container {
	width: calc(100% - 250px);
	padding: 30px;
	overflow: auto;
}

.main_container p {
	line-height: 22px;
	margin-bottom: 20px;
}

.side_bar {
	background: linear-gradient(135deg, #1C4A69, #3E8C74);
}
.side_bar .side_bar_bottom {
	background: linear-gradient(135deg, #255B6C, #3E8C74);
}

.side_bar .side_bar_top {
	height: 250px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	padding: 30px;
}

.side_bar .side_bar_top .picture {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.side_bar .side_bar_top .picture img {
	width: 130px;
	height: 150px;
	padding: 5px;
}

.side_bar .side_bar_top .info h3 {
	text-align: center;
	color: #fff;
}

.side_bar .side_bar_top .info p {
	margin-top: 5px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 7px #FFF;
}

.side_bar .side_bar_bottom {
	height: calc(100% - 250px);
	padding: 20px 0;
	padding-right: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.side_bar .side_bar_bottom ul li {
	position: relative;
}

.side_bar .side_bar_bottom ul li a {
	display: block;
	padding: 15px;
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 5px;
	text-align: center;
}

.side_bar .side_bar_bottom ul li a .icon {
	margin-left: 8px;
}

.side_bar .side_bar_bottom ul li.active a {
	background: #ffffff;
	color: #1C4A69;
    border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}


/*LOGOUT STYLE*/
.logout{
    margin-top: 180px !important;
    color: #ffffff !important;
}

.side_bar .side_bar_bottom ul li.active .logout {
    background: #ffffff;
    color: #1C4A69 !important;
}

.swal-confirm-btn {
    background-color: #3E8C74 !important;
    color: #ffffff !important;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.swal-cancel-btn {
    margin: 15px;
    background-color: #1C4A69 !important;
    color: #ffffff !important;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.swal-confirm-btn:hover {
    background-color: #1C6A59 !important; /* Slightly darker green */
}

.swal-cancel-btn:hover {
    background-color: #163B54 !important; /* Slightly darker blue */
}

/* Hide all containers initially */
.dashboard_container,
.location_container,
.report_container,
.recommendations_container {
	display: none;
}






/* location container */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap'); 

:root {
    --main-color: #3E8C74; 
    --secondary-color:  #79b4a2;
    --lighter-color: #e0e0e7;
    --light-color: #b0b0c0;
    --dark-color: #1C4A69;

    --font-small: 14px; 
    --font-bigger: 20px; 
}
* {
    margin: 0;
    padding: 0;
    text-align: right; 
}
*, ::before, ::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'MyArabicFont', 'Cairo', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--dark-color);
    background: white;
}

.location_container {
    width: 100%;
    height:100%;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
h1,h2,h3 {
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 0.5em;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
::placeholder {
    color: var(--lighter-color);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2em;
}

.form-box {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 2px solid var(--main-color);
    background-color: #ffffff;
    position: relative;
    width: 1200px;
    height: 795px;
    margin-left: -900px;
    padding-right: 20px;
}




.form-row {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 2em; 
}

.form-group {
    display: flex;
    flex-direction: column; 
}
.form-group label,
.form-group input {
    margin-bottom: 5px;
}
label {
    margin-bottom: 0.5em;
}

input, select {
    border: 1.5px solid #1C4A69; 
    border-radius: 30px !important;
    padding: 8px; 
    margin-top: 5px;
    margin-bottom: 15px; 
    background-color: #f9f9f94a; 
}

/* progress */
.form-box .progress {
    position: relative;
    padding: 1em;
}

.logo {
    font-size: 1.75em;
    font-weight: 800;
    color: var(--secondary-color);
    padding: 40px 48px;
    text-align: center;
}
.logo span {
    color: var(--main-color);
}

/* progress steps*/
.progress ul.progress-steps li {
    position: relative;
    display: flex;
    align-items: center; /* محاذاة العناصر بشكل مركزي */
}

.progress ul.progress-steps li > span {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: var(--font-small);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
    border-radius: 50%;
    background-color: var(--lighter-color);
    z-index: 1;
}

/* إضافة حد أدنى للعرض للنص */
.progress ul.progress-steps li p {
    min-width: 150px; /* يمكنك تعديل القيمة حسب الحاجة */
    text-align: right; /* محاذاة النص إلى اليمين */
}
.progress ul.progress-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

/* progress steps circles*/


/* progress steps circles when active*/
.progress ul.progress-steps li.active > span { 
    color: white;
    background: linear-gradient(135deg, #255B6C, #3E8C74);
    border: 4px solid linear-gradient(135deg, #255B6C, #3E8C74);
    z-index: 1;
}

/* small p in circles*/
.progress ul.progress-steps li p span {
    font-size: var(--font-small);
    color: #bbbbbb;
    display: none;
}


/* Form styles*/
.form-box form {
    width: 100%;
    padding: 3em 1em;
    background-color: white;
    border-radius: 30px 30px 15px 15px;
}


form > div p {
    font-size: var(--font-small);
    font-weight: 600;
    margin-bottom: 0.5em;
}

form :where(input,select) {
    padding: 0 1em;
    border-radius: 7px;
}

form label {
    font-size: var(--font-small);
    font-weight: 600;
    margin-bottom: 0.5em;
}

form > div:not(.btn-group) {
    display: none;
    -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1 ) both;
    animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1 ) both ;
}

/*Side bar*/
.recommendations_container {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-container {
    display: none; /* إخفاء جميع المحتويات */
}
.content-container.active {
    display: block; /* عرض المحتوى النشط فقط */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
form > div.active {
    display: block;
}


#error-message {
    color: red;
    display: none;
    margin-top: -15px;
}

#error-message-step2 {
    color: red;
    display: none;
    margin-top: -85px;
    margin-right: 137px;
}

.form-two.active ~ #error-message {
    margin-top: -90px; 
}


/* Buttons styles */
.btn-submit1 {
    background-color: var(--main-color);
    color: white;
    padding: 0; 
    width: 120px;
    height: 50px; 
    border: 4px solid var(--secondary-color);
    border-radius: 25px; 
    cursor: pointer;
    -webkit-transition: background-color 0.3s, border-color 0.3s ease-out;
    transition: background-color 0.3s, border-color 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; /* Center the button */
}

/* Hover effect for btn-result */
.btn-submit1:hover {
    background-color: var(--dark-color);
    border-color: var(--light-color);
}

.btn-group {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: space-between;
    text-align: center;
}

.form-two.active ~ .btn-group .btn-prev {
    margin-top: -50px; 
}
.form-two.active ~ .btn-group .btn-next {
    margin-top: -50px; 
}

.form-four.active ~ .btn-group .btn-result {
    margin-top: 15px; 
}
.form-four.active ~ .btn-group .btn-submit {
    margin-top: 15px; 
}

.btn-group [class*="btn-"] {
    background-color: var(--main-color);
    color: white;
    padding: 0; 
    width: 120px;
    height: 50px; 
    border: 4px solid var(--secondary-color);
    border-radius: 25px; 
    cursor: pointer;
    -webkit-transition: background-color 0.3s, border-color 0.3s ease-out;
    transition: background-color 0.3s, border-color 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-group [class*="btn-"]:disabled {
    background-color: var(--light-color);
    border-color: var(--lighter-color);
    cursor: text;
}

.btn-group [class*="btn-"]:hover:not(:disabled) {
    background-color: var(--dark-color);
    border-color: var(--light-color);
}

.btn-group .btn-submit {
    display: none;
}

.btn-group .btn-result {
    display: none;
}

.form-two.active ~ .btn-group .btn-next {
    display: none;
}

.form-two.active ~ .btn-group .btn-submit {
    display: block;
}

.form-three.active ~ .btn-group .btn-next {
    display: none;
}

.form-three.active ~ .btn-group .btn-prev {
    display: none;
}

/* Style the map on step4 */
#map2 {
    height: 270px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px #1C4A69;
    display: none; 
}

@media screen and (min-width: 768px) { 
    .form-box {
        background-color: #e3e3e32e;
        flex-direction: row;
    }
    .location_container .form-box {
        background-color: #e3e3e338; 
    }
    .recommendation_container .form-box {
        background-color: white;
    }
    .form-box .progress {
        flex: 1 0 35%;
        min-width: 300px;
        padding: 3em;
    }
    .logo {
        margin: -48px -48px 48px;
    }
    .progress ul.progress-steps {
        flex-direction: column;
    }
    .progress ul.progress-steps li:not(:last-child)::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 20px;
        width: 2px;
        height: 65px;
        background-color: var(--lighter-color);
    }
    .form-box form {
        padding: 3em;
        border-radius: 0 15px 15px 0;
    }
    .progress ul li p {
        position: relative;
        top: auto;
        font-size: inherit;
    }
    .progress ul.progress-steps li p span {
        display: block;
    }
   
}
#custom-form-box {
    height: 1000px;
    padding: 20px; 
}





/* تنسيق مجموعة الراديو */

.radio-group {
    margin-top: 10px; /* مسافة أعلى المجموعة */
}
.radio-group input[type="radio"] {
    margin-left: 10px; /* مسافة بين خيار الراديو والنص */
}
.radio-group label {
    direction: rtl;
    padding: 5px;
    margin-right: 10px; /* مسافة بين الخيارات */
    margin-bottom: 10px; /* مسافة أسفل كل خيار */
    display: block; /* جعل كل خيار في سطر منفصل */
}

form label {
    font-size: var(--font-small);
    font-weight: 600;
    margin-bottom: 0.5em;
}

.navigation-buttons {
    display: flex; /* استخدام الفليكس */
    gap: 300px; /* تباعد بين الأزرار */
    margin-top: 20px; /* إضافة تباعد فوق الأزرار */
    justify-content: flex-end; /* محاذاة الأزرار إلى اليمين */
}

.btn-small, .btn-start {
    width: 20%;
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px; /* تقليل الحجم */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    border: 4px solid var(--secondary-color);
    border-radius: 25px;
}
.form-step { display: none; } /* إخفاء جميع الأسئلة */

.btn-start, .navigation-buttons button {
    padding: 4px 2px;
    margin: -10px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#timer {
    font-weight: bold;
    margin-top: 15px;
}

.intro-page {
    width: 100%;
    padding: 3em 1em;
    background-color: white;
    border-radius: 30px 30px 15px 15px;
    text-align: right; /* محاذاة النص إلى اليمين */
    direction: rtl; /* تعيين اتجاه النص إلى اليمين */
}
.btn-start:hover, .navigation-buttons button:hover {
    background-color: var(--dark-color);
    border-color: var(--light-color);
}

#timer {
    position: absolute; /* جعل العنصر مطلق */
    top: 20px; /* المسافة من الأعلى */
    left: 20px; /* المسافة من اليسار */
    font-size: 18px; /* حجم الخط */
    color: #333; /* لون النص */
}