.btn-submit1 {
    padding: 10px 20px;
    background-color: #1C4A69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-row {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 2em; 
}
.form-group {
    display: flex;
    flex-direction: column; 
}
select {
    width: 100%; 
    padding: 0.5em; 
    border-radius: 4px; 
}
#map {
    height: 270px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px #1C4A69;
}

/* Cards */
.recommendations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;    
    max-width: 100%;
    background: #f5f7f9;
    border-radius: 12px;
    border: 1px solid #e0e4e8;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.155);
}

/* Recommendations Card */
.recommendation-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    padding: 17px;
    width: 400px;
    max-width: 500px;
    height: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px; /* Adds space around each card */
}


/* Hover Effect */
.recommendation-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.236);
}

/* Header */
.recommendation-card h3 {
    color: #1C4A69;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    margin: 0 0 8px;
    position: relative;
}

.recommendation-card h3::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 2px;
    background: linear-gradient(90deg, #1C4A69, #3E8C74);
    border-radius: 2px;
}

/* Info Row */
.recommendation-card .info-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 5px;
}

/* Info Item Styles */
.recommendation-card .info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: #1C4A69;
    font-weight: 500;
    flex-direction: row-reverse; 
}

/*  Text on the left */
.recommendation-card .info-item span:first-child {
    font-weight: bold;
    font-size: 1em;
    color: #3E8C74;
    text-align: left;
}

/*  Text on the right */
.recommendation-card .info-item span:last-child {
    font-size: 1em;
    color: #1C4A69;
    font-weight: bold;
    text-align: right;
}

/* Divider Line */
.recommendation-card .info-item:not(:last-child) {
    border-bottom: 1px solid #e0e4e8;
}

/* Competitors List Style */
.competitors-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    gap: 5px;
    margin-top: 8px;
    justify-content: center;
}

.competitors-list li {
    background-color: #ffffff;
    color: #3E8C74;
    padding: 4px 8px;
    font-size: 0.8em;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(28, 74, 105, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.competitors-list li:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.link-button {
    background: none;
    color: #3E8C74;
    border: none;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 35px; 
}
.link-button:hover {
    text-decoration: none;
}

.chart-container canvas {
    display: block;
    margin: 0 auto;
    position: relative;
}
